@media screen and (max-width: 717px) {

    header {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    header nav {
        display: none;
    }

    header .section-header {
        justify-content: start;
    }

    header .bars-menu {
        position: absolute;
        z-index: 100;
        display: block;
        margin-right: .5rem;
    }  

    .body-overflow_hidden {
        overflow: hidden;
    }

    .section-menu {
        display: block;
        background-color: white;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 78px;
        width: 80%;
        height: 100%;
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .section-menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    .section-menu li {
        width: 100%;
        line-height: 90px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .section-menu .vinculo-principal {
        width: 100%;
        font-size: 2.3rem;
        color: var(--color-secundario);
        font-weight: 700;
        border-bottom: 1px solid var(--color-secundario);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }

    .section-menu svg {
        display: flex;
    }

    .section-menu a {
        font-size: 2.1rem;
        text-decoration: none;
        color: black;
        padding: 2rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .section-menu .submenu-responsive {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: rgb(226, 226, 226);
        transition: max-height 0.6s ease;
      }
      
      .section-menu .submenu-responsive.active {
        max-height: 500px;
      }
      

    .nav-menu_visible {
        left: 20%;
    }

    .widgets-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .widgets-container img {
        width: 32px;
    }

    .widgets-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    .widgets-container .div-border {
        border-right: 1px solid white;
    }

    .widgets-container div p {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
    }

    .div-chat {
        display: none;
    }

    main .home-page {
        height: 100%;
        grid-template-columns: 1fr;
        padding-top: 16rem;
        padding-bottom: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        position: relative;
    }
    
    main .home-page h1 {
        font-size: 3.2rem;
        margin-bottom: 3rem;
        height: auto;
    }
    
    main .home-page p {
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }
    
    main .home-page button {
        font-size: 1.8rem;
    }
    
    main .home-page img {
        width: 100%;
        height: 100%;
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    main .section-mision {
        padding: 3rem;
        padding-top: 4rem;
        padding-bottom: 8rem;
    }
    
    main .section-mision .container-mision {
        display: flex;
        flex-direction: column;
    }
    
    main .section-mision .container-mision h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    main .section-mision .container-mision p {
        font-size: 1.8rem;
        width: 100%;
    }
    
    main .section-mision .container-mision .div-mision-img img {
        width: 100%;
        height: 100%;
    }
    
    main .section-niveles {
        padding: 3rem;
        padding-top: 8rem;
        padding-bottom: 6rem;
        flex-direction: column;
    }
    
    main .section-niveles h2 {
        font-size: 4rem;
    }
    
    main .section-niveles .container-niveles {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    
    main .section-niveles .container-niveles h3 {
        font-size: 3.5rem;
    }

    main .section-niveles .container-niveles p {
        font-size: 1.8rem;
    }
    
    main .section-oferta-academica {
        padding: 3rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
        display: flex;
        flex-direction: column;
    }
    
    main .section-oferta-academica h2 {
        font-size: 4rem;
        text-align: center;
    }
    
    main .section-oferta-academica .container-oferta {
        grid-template-columns: 1fr;
    }
    
    main .section-oferta-academica .container-oferta div {
        gap: 1rem;
    }
    
    main .section-oferta-academica .container-oferta img {
        height: 280px;
    }
    
    main .section-oferta-academica .container-oferta h3 {
        font-size: 3rem;
    }
    
    main .section-oferta-academica .container-oferta p {
        font-size: 1.8rem;
        width: 100%;
    }
    
    main .section-experiencia {
        height: 100%;
        padding: 3rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
        flex-direction: column;
    }
    
    main .section-experiencia h2 {
        font-size: 3.5rem;
        text-align: center;
    }
    
    main .section-experiencia .glide img {
        height: 280px;
    }
    
    .glide__bullet {
        width: 15px;
        height: 15px;
    }
    
    main .section-testimonios {
        height: 100%;
        padding: 3rem;
        padding-top: 6rem;
        padding-bottom: 12rem;
        flex-direction: column;
    }
    
    main .section-testimonios h2 {
        font-size: 4rem;
    }
    
    main .section-testimonios .container-testimonios {
        flex-direction: column;
    }
    
    
    main .section-testimonios .container-testimonios iframe {
        height: 240px;
    }

    footer {
        padding-top: 6rem;
        position: relative;
    }
    
    footer .container-footer {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    footer .container-footer svg {
        width: 10px;
        height: 10px;
    }
    
    footer .container-footer h3 {
        font-size: 2rem;
    }
    
    footer .container-footer a {
        font-size: 1.2rem;
    }
    
    footer .footer-redes {
        padding: 3rem;
        padding-bottom: 0;
        gap: 6rem;
    }

    footer .footer-redes img {
        width: 28px;
    }
    
    footer .footer-logos {
        padding: 3rem;
        gap: 3rem;
    }

    footer .footer-logos img {
        width: 100px;
    }
    
    footer .footer-logos .logoUnam {
        width: 40px;
    }

    footer .landing-footer p {
        font-size: 1rem;
    }

    /* Estilos para la pagina de contacto */

    main .section-formulario {
        height: 100%;
        display: flex;
        padding: 3rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        gap: 2rem;
    }
    
    main .section-formulario h1 {
        font-size: 3rem;
        color: var(--color-secundario);
    }

    main .section-formulario .container-formulario {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    main .section-formulario .container-formulario iframe {
        border-radius: 1rem;
        height: 200px;
    }
    
    main .section-formulario .container-formulario .div-form h3 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: var(--color-secundario);
        text-align: center;
    }
    
    main .section-formulario .container-formulario form .input-mensaje {
        height: 120px;
    }
    
    main .section-formulario .container-formulario form button {
        width: 150px;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

}