* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Manrope', sans-serif;
}

header {
    width: 100%;
    height: auto;
    color: black;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem;
    padding-left: 15rem;
    padding-right: 15rem;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 -2px 5px black;
    transition: top 0.5s ease-in-out;
}

header.hidden {
    top: -100px;
  }

header .section-header {
    width: 100%;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

header .section-header .div-logo {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

header .section-header .div-logo img {
    width: 70px;
}

header .bars-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%) scale(1.5);
    cursor: pointer;
    display: none;
}

header .bars-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #530324;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.active_line1_bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
}

.active_line2_bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.active_line3_bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}

.section-menu {
    display: none;
}

header nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav a.disabled {
    pointer-events: none;
    cursor: default;
}

nav ul {
    list-style: none;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-decoration: none;
    color: black;
}

nav ul li:hover > a {
    font-weight: 700;
}

nav ul li .submenu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-secundario);
    display: none;
    padding: .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
}

nav ul li .submenu a {
    color: black;
}

nav ul li:hover > .submenu {
    display: block;
}

nav ul .submenu .submenu {
    top: 0;
    left: 100%;
}

nav ul .submenu.show {
    display: block;
}

.widgets-container {
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px black;
    z-index: 996;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: none;
}

.widgets-container a {
    text-decoration: none;
}

.divChat {
    position: fixed;
    bottom: 10%; /* Ajusta esta propiedad para cambiar la distancia desde el borde inferior */
    right: 0;
    background-color: #780837;
    padding: 1.5rem;
    border-top-left-radius: 2rem; 
    border-end-start-radius: 2rem;
    z-index: 998;
    margin-bottom: 2rem;
  }

  .divChat:hover {
    background-color: #530324;
  }

  .divChat img {
    width: 50px;
  }
  
  #menuButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
  
  #menuList {
    width: 230px;
    display: none;
    position: absolute;
    padding: .5rem;
    list-style-type: none;
    background-color: #d8d8d8;
    border-radius: 1rem;
    right: 100%;
    bottom: -50%;
    flex-direction: column;
  }
  
  #menuList li {
    display: inline-flex;
    padding: 1rem;
    align-items: center;
  }

  #menuList li a {
    font-family: 'Manrope', sans-serif;
    color: #780837;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  #menuList li img {
    width: 30px;
    margin-right: 1.5rem;
  }
  
  #menuButton:focus + #menuList {
    display: flex;
  }
  

main .home-page {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding-top: 10rem;
    align-items: center;
    justify-content: center;
}

main .home-page .home-page-text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Asegura que el texto esté en una capa superior */
}

main .home-page .home-page-text h1 {
    font-family: 'Syne', sans-serif;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 0px white, -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white;
}

main .home-page .home-page-text p {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

main .home-page .home-page-text button {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #780837;
    border-radius: .5rem;
    border: 1px solid #780837;
    font-size: 2rem;
    padding: 1rem 3rem;
}

main .home-page button:hover {
    background-color: #530324;
    border: solid 1px #530324;
}

main .home-page .carousel-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Asegura que el carrusel esté en una capa inferior */
}

main .home-page .carousel-container img {
    width: 100%;
    height: 85vh;
}

main .section-niveles {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 15rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-niveles h2 {
    font-size: 6rem;
    font-family: 'Syne', sans-serif;
    text-align: center;
}

main .section-niveles .container-niveles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 8rem;
}

main .section-niveles .container-niveles div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

main .section-niveles .container-niveles img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

main .section-niveles .container-niveles h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 4rem;
}

main .section-niveles .container-niveles p {
    font-size: 2rem;
    text-align: center;
}

main .section-oferta-academica {
    width: 100%;
    height: 100%;
    background-color:#f5f5f5;
    color: black;
    padding: 20rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

main .section-oferta-academica h2 {
    font-size: 6rem;
    font-family: 'Syne', sans-serif;
}

main .section-oferta-academica .container-oferta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

main .section-oferta-academica .container-oferta div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

main .section-oferta-academica .container-oferta img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 1rem;
}

main .section-oferta-academica .container-oferta h3 {
    font-family: 'Syne', sans-serif;
    font-size: 4rem;
    text-align: center;
}

main .section-oferta-academica .container-oferta p {
    font-size: 2rem;
    text-align: center;
    width: 95%;
}

main .section-experiencia {
    width: 100%;
    height: 100%;
    padding: 38rem;
    padding-top: 12rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

main .section-experiencia h2 {
    font-size: 6rem;
    font-family: 'Syne', sans-serif;
}

main .section-experiencia .glide {
    position: relative;
    width: 100%;
}

main .section-experiencia .glide img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

main .section-experiencia .glide .glide__track {
    border: 8px solid rgb(226, 226, 226);
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
}

main .section-experiencia .glide .glide__bullets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.glide__bullet {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    background-color: rgb(180, 180, 180);
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.glide__bullet.glide__bullet--active {
    background-color: #530324;
}

main .section-testimonios {
    width: 100%;
    height: 100%;
    padding: 38rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

main .section-testimonios h2 {
    width: 100%;
    text-align: center;
    font-size: 6rem;
    font-family: 'Syne', sans-serif;
}

main .section-testimonios .container-testimonios {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


main .section-testimonios .container-testimonios video {
    width: 100%;
    height: 220px;
    display: inline-flex;
    border-radius: 1rem;
    border: 8px solid rgb(226, 226, 226);
    box-shadow: 0 0 10px black;
}

footer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 997;
    background-color: #708090;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 0;
}

footer .container-footer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

footer .container-footer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .container-footer h3 {
    font-size: 3rem;
    font-family: 'Syne', sans-serif;
}

footer .container-footer a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

footer .container-footer a:hover {
    color: rgb(180, 180, 180);
    transform: translateX(5px);
}

footer .footer-redes {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4rem;
    padding-left: 48rem;
    padding-right: 48rem;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-evenly;
}

footer .footer-redes img:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

footer .footer-logos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 8rem;
}

footer .footer-logos img {
    width: 250px;
}

footer .footer-logos .logoUnam {
    width: 100px;
}

footer .landing-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #626f7c;
}

footer .landing-footer p {
    font-size: 1.5rem;
}

footer .landing-footer a {
    color: white;
}

footer .landing-footer a:hover {
    color: rgb(180, 180, 180);
}

@media screen and (min-width: 1768px) {

    header {
        padding-left: 34rem;
        padding-right: 34rem;
    }

    header nav {
        justify-content: center;
    }

    header .section-header .div-logo a {
        font-size: 3.5rem;
    }

    main .home-page {
        padding-top: 10rem;
    }

    main .section-mision {
        padding-left: 34rem;
        padding-right: 34rem;
    }

    main .section-niveles {
        padding-left: 34rem;
        padding-right: 34rem;
    }

    main .section-oferta-academica {
        padding-left: 34rem;
        padding-right: 34rem;
    }

    main .section-oferta-academica .container-oferta img {
        height: 330px;
    }

    main .section-experiencia {
        padding-left: 34rem;
        padding-right: 34rem;
    }

    main .section-experiencia .glide img {
        height: 600px;
    }

    main .section-testimonios {
        padding-left: 34rem;
        padding-right: 34rem;
    }
    
    footer .container-footer {
        padding-left: 34rem;
        padding-right: 34rem;
        gap: 0;
    }
}